@media screen and (min-width: 600px) {
  .coachDetails .column {
    flex: 1;
  }

  .coachDetails .doubleColumn {
    flex: 2;
  }
}

.coachDetails {
  .container {
    margin: 7px;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .doubleColumn {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
  }

  .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*border: 1px solid #eee;*/
    background-color: #ddd;
    padding: 10px;

    .cardImg {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      /*border: 1px solid blue;*/
      flex: 1;
      /*border-radius: 10px;*/

      img {
        border-radius: 7%;
        border: 1px solid #ccc;
        display: block;
        margin: auto;
      }
    }

    .cardInfo {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      /*border: 1px solid blue;*/
      flex: 1;
      padding: 7px 0 0 7px;

      h3 {
        margin-top: 0;
        margin-block-start: 0;
      }

      
      span {
        background-repeat: no-repeat;
        background-position-y: 2px;
        padding-left: 22px;
        display: block;
        margin-bottom: 5px;
      }

      .lang {
        background-image: url('/sites/intranet/SiteAssets/UNAIDSCoach/speech.png?csf=1&e=xJb5zc');      
      }

      .location {
        background-image: url('/sites/intranet/SiteAssets/UNAIDSCoach/maps.png?csf=1&e=0clqr9');
      }

      .providerName {
        margin-top: 10px;
        padding: 5px;
        font-weight: bold; 
        font-size: 1.1em;
        color: #444;
      }
    }
  }

  span {
    background-repeat: no-repeat;
    background-position-y: 2px;
    padding-left: 22px;
    display: block;
    margin-bottom: 5px;
  }

  .cv, .providerDoc {
    background-image: url('/sites/intranet/SiteAssets/UNAIDSCoach/pdf.png?csf=1&e=Ch7Fjw');
  }
  

  .details {
    padding: 0 10px;

    h3.title {
      margin-top: 0;
      margin-block-start: 0;
      margin-block-end: .5em;
      margin-bottom: .5em;
    }

  }


}